@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Para llamarlo : @include imagenes(0%,0px,cover);*/
/* para  llamarlo : @include fonts(24px,$main-font,$light-color);*/
.link-contenedor {
  gap: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-color-primario {
  background-color: #EB5160;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-primario:hover {
  background-color: #c01627;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-primario-claro {
  background-color: salmon;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-primario-claro:hover {
  background-color: #f7270f;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-secundario {
  background-color: #b7999c;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-secundario:hover {
  background-color: #896165;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-secundario-claro {
  background-color: violet;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-secundario-claro:hover {
  background-color: #e228e2;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-fuente-oscuro {
  background-color: #071013;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-fuente-oscuro:hover {
  background-color: black;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-fuente-claro {
  background-color: #dfe0e2;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-fuente-claro:hover {
  background-color: #a9acb2;
  box-shadow: 4px 4px 4px 0px #071013;
}

.link-color-fondo {
  background-color: #aaaaaa;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.link-color-fondo:hover {
  background-color: #777777;
  box-shadow: 4px 4px 4px 0px #071013;
}

/* Colores */
/* fonts */
/* Clases del header  */
.barra-navegacion {
  width: 100%;
  height: 70px;
  background-image: url("../images/estrellas01.jpg");
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: 50%;
}
.barra-navegacion-contenido img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.barra-navegacion-contenido a {
  color: #dfe0e2;
  font-family: "Ubuntu";
  text-align: center;
  font-size: 2.4rem;
  margin: 5px;
  padding: 5px;
}

.cabecera-lateral {
  background-image: url("../images/estrellas01.jpg");
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: 50%;
}
.cabecera-lateral h1 {
  font-size: 1.5rem;
  color: #dfe0e2;
}
.cabecera-lateral img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.pie {
  background-image: url("../images/estrellas01.jpg");
  background-position: left;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.pie-frase {
  color: #b7999c;
  font-family: "Ubuntu";
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
  padding: 20px;
}
.pie-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  text-align: center;
  color: silver;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 20px;
  gap: 10px;
}
.pie-info ul {
  list-style-type: none;
}
.pie-info ul li a {
  color: #dfe0e2;
}

/* Clases del main */
.cuerpo {
  background-color: #dfe0e2;
}

.seccion-primera {
  background-color: #b7999c;
  margin: 10px;
  border: 3px solid violet;
  border-radius: 4%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  grid-template-areas: "area1 area1 area2" "area4 area6 area8" "area5 area7 area9";
}
.seccion-primera-info {
  width: 95%;
  height: 100%;
  background-color: #EB5160;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid salmon;
  border-radius: 10%;
  margin: 10px;
  padding: 10px;
}
.seccion-primera-info img {
  width: 99%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.seccion-primera-info h2 {
  font-size: 3.6rem;
  font-family: "Ubuntu";
  color: #dfe0e2;
  text-align: center;
  width: 90%;
  align-content: flex-start;
  padding: 5px;
}
.seccion-primera-info p {
  font-size: 2.4rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60%;
}
.seccion-primera-info a {
  font-size: 2.4rem;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.info-1 {
  grid-area: area1;
  background-color: #b7999c;
  border: none;
}
.info-2 {
  grid-area: area2;
}
.info-2 img {
  align-items: center;
}
.info-3 {
  grid-area: area3;
}
.info-4 {
  grid-area: area4;
  background-color: #b7999c;
  border-radius: 10%;
}
.info-5 {
  grid-area: area5;
}
.info-5 p {
  text-align: center;
}
.info-6 {
  grid-area: area6;
  background-color: #b7999c;
  border-radius: 10%;
}
.info-7 {
  grid-area: area7;
}
.info-7 p {
  text-align: center;
}
.info-8 {
  grid-area: area8;
  background-color: #b7999c;
  border-radius: 10%;
}
.info-9 {
  grid-area: area9;
}
.info-9 p {
  text-align: center;
}

/* Body paginas secundarias */
.seccion-segunda {
  background-color: #dfe0e2;
  min-height: 100vh;
  max-height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.seccion-segunda-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: 10px;
  background-color: #b7999c;
  padding: 30px;
  border: 3px solid #EB5160;
  border-radius: 10%;
}
.seccion-segunda-info h2 {
  font-size: 3.6rem;
  font-family: "Ubuntu";
  color: #dfe0e2;
  text-align: center;
  padding: 10px;
  width: 90%;
}
.seccion-segunda-info p {
  font-size: 2rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  width: 90%;
  height: 100%;
  padding: 10px;
}
.seccion-segunda-info ol li {
  font-size: 2rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  width: 90%;
  height: 100%;
}
.seccion-segunda-info a {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2.4rem;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.seccion-segunda-info img {
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

/* Body pagina responsive tarot */
.contenedor {
  background-color: #EB5160;
  border-radius: 4%;
}

.tarot-segunda img {
  border-radius: 10%;
  padding: 10px;
}

.tarot-primera {
  padding: 10px;
}
.tarot-primera h2 {
  font-size: 3.6rem;
  font-family: "Ubuntu";
  color: #071013;
  text-align: center;
  padding: 10px;
}
.tarot-primera p {
  font-size: 2rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  padding: 10px;
}
.tarot-primera a {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2.4rem;
  align-items: center;
  padding: 10px;
}

.cabecera-acordeon button {
  font-size: 2.4rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  padding: 10px;
}

.cuerpo-acordeon p {
  font-size: 1.8rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  padding: 10px;
}

/* meditacion igual a body paginas secundarias */
/* seccion contacto */
.seccion-contacto {
  background-color: #b7999c;
  border: 3px solid violet;
  border-radius: 4%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(12, auto);
  padding: 10px;
  grid-template-areas: "area1 area1 area16 area16" "area2 area2 area16 area16" "area3 area4 area16 area16" "area5 area6 area16 area16" "area7 area8 area16 area16" "area9 area10 area16 area16" "area11 area11 area17 area17" "area12 area12 area17 area17" "area13 area13 area17 area17" "area14 area14 area17 area17" "area14 area14 area17 area17" "area15 area15 area17 area17";
}
.seccion-contacto-info {
  font-size: 2rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.seccion-contacto-info img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.seccion-contacto-info h2 {
  font-size: 3.6rem;
  font-family: "Ubuntu";
  color: #dfe0e2;
  text-align: center;
  width: 90%;
  padding: 5px;
}
.seccion-contacto-info p {
  font-size: 2rem;
  font-family: "Roboto";
  color: #071013;
  text-align: justify;
  display: flex;
  width: 90%;
  height: 100%;
}

.contenido-1 {
  grid-area: area1;
}
.contenido-2 {
  grid-area: area2;
}
.contenido-3 {
  grid-area: area3;
}
.contenido-4 {
  grid-area: area4;
}
.contenido-5 {
  grid-area: area5;
}
.contenido-6 {
  grid-area: area6;
}
.contenido-7 {
  grid-area: area7;
}
.contenido-8 {
  grid-area: area8;
}
.contenido-9 {
  grid-area: area9;
}
.contenido-10 {
  grid-area: area10;
}
.contenido-11 {
  grid-area: area11;
}
.contenido-12 {
  grid-area: area12;
  justify-content: space-evenly;
}
.contenido-13 {
  grid-area: area13;
}
.contenido-14 {
  grid-area: area14;
  padding: 20px;
  margin: 10px;
}
.contenido-15 {
  grid-area: area15;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
.contenido-16 {
  grid-area: area16;
}
.contenido-17 {
  grid-area: area17;
}

/* Mediaquery para vista del index en tableta */
@media (min-width: 768px) and (max-width: 1023px) {
  .barra-navegacion {
    height: 60px;
  }
  .barra-navegacion-contenido img {
    width: 40px;
    height: 40px;
    object-fit: 0;
  }
  .barra-navegacion-contenido a {
    font-size: 1.8rem;
  }
  .seccion-primera {
    background-color: salmon;
    border-radius: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "area1 area2" "area4 area5" "area6 area7" "area8 area9";
  }
  .seccion-primera-info h2 {
    font-size: 3rem;
    color: #071013;
  }
  .seccion-primera-info p {
    font-size: 2rem;
  }
  .info-1, .info-4, .info-6, .info-8 {
    background-color: salmon;
  }
  .info-2, .info-4, .info-5, .info-6, .info-7, .info-8, .info-9 {
    border: 3px solid violet;
  }
}
/* Mediaquery para vista del index en mobile */
@media (max-width: 768px) {
  .barra-navegacion {
    height: 50px;
  }
  .barra-navegacion-contenido img {
    width: 30px;
    height: 30px;
    object-fit: 0;
  }
  .barra-navegacion-contenido a {
    font-size: 1.3rem;
  }
  .seccion-primera {
    background-color: #EB5160;
    border-radius: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "area1" "area2" "area4" "area5" "area6" "area7" "area8" "area9";
  }
  .seccion-primera-info h2 {
    font-size: 2.4rem;
    color: #071013;
  }
  .seccion-primera-info p {
    font-size: 1.8rem;
  }
  .info-1, .info-4, .info-6, .info-8 {
    background-color: #EB5160;
  }
  .info-2, .info-4, .info-5, .info-6, .info-7, .info-8, .info-9 {
    border: 3px solid #b7999c;
  }
}
/* Mediaqueries para responsive reiki y meditación */
@media (max-width: 810px) {
  .seccion-segunda-info {
    flex-flow: row wrap;
  }
}
/* Mediaqueries para responsive contacto tableta */
@media (max-width: 768px) {
  .seccion-contacto {
    background-color: #EB5160;
    border: 3px solid violet;
    border-radius: 3%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "area1 area16" "area2 area16" "area3 area4" "area5 area6" "area7 area8" "area9 area10" "area11 area11" "area12 area12" "area13 area13" "area14 area14" "area15 area15" "area17 area17";
  }
  .seccion-contacto-info {
    width: 90%;
    height: 100%;
    margin: 3px;
    padding: 3px;
    font-size: 1.8rem;
  }
}
/* Mediaqueries para responsive contacto mobile */
@media (max-width: 480px) {
  .seccion-contacto {
    background-color: #dfe0e2;
    border: 3px solid #b7999c;
    border-radius: 0%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(17, auto);
    grid-template-areas: "area1" "area16" "area2" "area3" "area4" "area5" "area6" "area7" "area8" "area9" "area10" "area11" "area12" "area13" "area14" "area15" "area17";
  }
  .seccion-contacto-info {
    margin-left: 10px;
    width: 90%;
    height: 100%;
    font-size: 1.5rem;
  }
  .seccion-contacto-info img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10%;
  }
  .seccion-contacto-info h2 {
    width: 90%;
    font-size: 2.4rem;
    color: #071013;
    padding: 2px;
  }
  .seccion-contacto-info p {
    font-size: 1.5rem;
  }
  .contenido-17 {
    grid-area: area17;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
