/* seccion contacto */
.seccion-contacto {
    background-color: #b7999c;
    border: 3px solid violet;
    border-radius: 4%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(12, auto);
    padding: 10px;
    grid-template-areas: 
    'area1 area1 area16 area16'
    'area2 area2 area16 area16'
    'area3 area4 area16 area16'
    'area5 area6 area16 area16'
    'area7 area8 area16 area16'
    'area9 area10 area16 area16'
    'area11 area11 area17 area17'
    'area12 area12 area17 area17'
    'area13 area13 area17 area17'
    'area14 area14 area17 area17'
    'area14 area14 area17 area17'
    'area15 area15 area17 area17'
    ;
    &-info {
        @include fonts(2rem,$font-primaria,$color-fuente-oscuro,justify);
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        margin: 5px;
        padding: 5px;
        width: 100%;
        height: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10%;
        }

        h2 {
            @include fonts(3.6rem,$font-secundaria,$color-fuente-claro,center);
            width: 90%;
            padding: 5px;
        }

        p {
            @include fonts(2rem,$font-primaria,$color-fuente-oscuro,justify);
            display: flex;
            width: 90%;
            height: 100%;
        }
    }
}

.contenido {

    &-1 {
        grid-area: area1;
    }
 
    &-2 {
        grid-area: area2;
    }

    &-3 {
        grid-area: area3;
    }

    &-4 {
        grid-area: area4;
    }

    &-5 {
        grid-area: area5;
    }

    &-6 {
        grid-area: area6;
    }

    &-7 {
        grid-area: area7;
    }

    &-8 {
        grid-area: area8;
    }

    &-9 {
        grid-area: area9;
    }

    &-10 {
        grid-area: area10;
    }

    &-11 {
        grid-area: area11;
    }

    &-12 {
        grid-area: area12;
        justify-content: space-evenly;
    }

    &-13 {
        grid-area: area13;
    }

    &-14 {
        grid-area: area14;
        padding: 20px;
        margin: 10px;
    }

    &-15 {
        grid-area: area15;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    &-16 {
        grid-area: area16;
    }

    &-17 {
        grid-area: area17;
    } 
}
