
/* Mediaquery para vista del index en tableta */
@media (min-width:768px) and (max-width:1023px) {
    .barra-navegacion {
        height: 60px;

        &-contenido {
            img {
                @include imagenes (40px,40px,0);
            }

            a {
                font-size: 1.8rem;
            }
        }
    }

    .seccion-primera {
        background-color: salmon;
        border-radius: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        'area1 area2'
        'area4 area5'
        'area6 area7' 
        'area8 area9' 
        ;

        &-info {
            
            h2 {
                font-size: 3.0rem;
                color: $color-fuente-oscuro;
            }

            p {
                font-size: 2.0rem;
            }
            a {
                color: darkblue;
            }
        }   
    }
    
    .info-1 , .info-4 , .info-6 , .info-8 {
        background-color: salmon;
    } 

    .info-2 , .info-4 , .info-5 , .info-6 , .info-7 , .info-8 , .info-9 {
        border: 3px solid violet;
    } 
}

/* Mediaquery para vista del index en mobile */
@media (max-width:768px) {
    .barra-navegacion {
        height: 50px;

        &-contenido {
            img {
                @include imagenes (30px,30px,0);
            }

            a {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }

    .seccion-primera {
        background-color: #EB5160;
        border-radius: 0%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr;
        grid-template-areas: 
        'area1'
        'area2'
        'area4' 
        'area5'
        'area6'
        'area7'
        'area8'
        'area9' 
        ;
        
        &-info {

            h2 {
                font-size: 2.8rem;
                color: $color-fuente-oscuro;
            }
    
            p {
                font-size: 2.4rem;
            }

            a {
                color: darkblue;
            }
        }
    }

    .info-1 , .info-4 , .info-6 , .info-8 {
        background-color: #EB5160;
    } 
    .info-2 , .info-4 , .info-5 , .info-6 , .info-7 , .info-8 , .info-9 {
        border: 3px solid #b7999c;
    } 
}

/* Mediaqueries para responsive reiki y meditación */
@media (max-width:1024px) {
    .seccion-segunda-info img {
        @include imagenes (40%,300px,cover);
        border-radius: $radius-primario;
    }
}

@media (max-width:810px) {
    .seccion-segunda-info {
        flex-flow: row wrap;
        
        h2 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.8rem;
        }
        ol li {
        font-size: 1.8rem;
        }
        
        img {
            @include imagenes (90%,300px,cover);
            border-radius: $radius-primario;
        }
    }
}


/* Mediaqueries para responsive contacto tableta */

@media (max-width:768px) {

    .seccion-contacto {
        background-color: #EB5160;
        border: 3px solid violet;
        border-radius: 3%;
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(12, auto);
        grid-template-areas: 
        'area1 area16'
        'area2 area16'
        'area3 area4'
        'area5 area6'
        'area7 area8'
        'area9 area10'
        'area11 area11'
        'area12 area12'
        'area13 area13'
        'area14 area14'
        'area15 area15'
        'area17 area17'
        ;

        &-info {
            width: 90%;
            height: 100%;
            margin: 3px;
            padding: 3px;
            font-size: 1.8rem;
        }
    }
}

/* Mediaqueries para responsive contacto mobile */
@media (max-width:480px) {

    .seccion-contacto {
        background-color: #dfe0e2;
        border: 3px solid #b7999c;
        border-radius: 0%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(17, auto);
        grid-template-areas: 
        'area1'
        'area16'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6'
        'area7'
        'area8'        
        'area9'
        'area10'
        'area11'
        'area12'
        'area13'
        'area14'
        'area15'
        'area17'
        ;

        &-info {
            margin-left: 10px;
            width: 90%;
            height: 100%;
            font-size: 1.5rem;
    
            img {
                @include imagenes(90%,90%,cover);
                border-radius: $radius-primario;
            }

            h2 {
                width: 90%;
                font-size: 2.4rem;
                color: #071013;
                padding: 2px;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    .contenido-17 {
        grid-area: area17;
        width: 90%;
    }
}

/* Mediaqueries para footer */
@media (max-width:768px) {
    .pie-frase {
        color:$color-secundario;  
        font-size: 3rem;
    }
}

@media (max-width:480px) {
    .pie {
        &-frase {
            font-size: 2.4rem;
        }

        &-info {
            font-size: 1.8rem;
            margin-left: 30px;
        }
    }
}