
/* Body paginas secundarias */
.seccion-segunda {
    background-color: #dfe0e2;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

    &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-content:center;
        align-items: center;
        gap: 10px;
        background-color: #b7999c;
        padding: 30px;
        border: 3px solid #EB5160;
        border-radius: $radius-primario;

        h2 {
            padding: 10px;
            color: #dfe0e2;
            font-family: 'Ubuntu';
            font-size: 3.6rem;
            text-align: center;
            width: 90%;
        }

        p {
            color: #071013;
            font-family: 'Roboto';
            font-size: 2rem;
            width: 90%;
            height: 100%;
            text-align: justify;
            padding: 10px;
        }

        ol li {
            color: #071013;
            font-family: 'Roboto';
            font-size: 2rem;
            width: 90%;
            height: 100%;
            text-align: justify;
        }

        a {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 2.4rem;
            align-items: center;
            padding: 10px;
            margin: 10px;
        }

        img {
            @include imagenes (90%,300px,cover);
            border-radius: $radius-primario;
        }
    }
}
