
/* Body paginas secundarias */
.seccion-segunda {
    background-color: #dfe0e2;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

    &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-content:center;
        align-items: center;
        gap: 10px;
        background-color: #b7999c;
        padding: 30px;
        border: 3px solid #EB5160;
        border-radius: $radius-primario;

        h2 {
            @include fonts(3.6rem,$font-secundaria,$color-fuente-claro,center);
            padding: 10px;
            width: 90%;
        }

        p {
            @include fonts(2rem,$font-primaria,$color-fuente-oscuro,justify);
            width: 90%;
            height: 100%;
            padding: 10px;
        }

        ol li {
            @include fonts(2rem,$font-primaria,$color-fuente-oscuro,justify);
            width: 90%;
            height: 100%;
        }

        a {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 2.4rem;
            align-items: center;
            padding: 10px;
            margin: 10px;
        }

        img {
            @include imagenes (90%,300px,cover);
            border-radius: $radius-primario;
        }
    }
}
