/* Body pagina responsive tarot */

.contenedor {
    background-color: #EB5160;
    border-radius: 4%;
}

.tarot-segunda img {
    border-radius: $radius-primario;
    padding: 10px;
}

.tarot-primera {
    padding: 10px;

    h2 {
        @include fonts(3.6rem,$font-secundaria,$color-fuente-claro,center);
        padding: 10px;
    }

    p {
        @include fonts(2rem,$font-primaria,$color-fuente-oscuro,justify);
        padding: 10px;

    }

    a {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2.4rem;
        align-items: center;
        padding: 10px;
    }
}


.cabecera-acordeon button {
    @include fonts(2.4rem,$font-primaria,$color-fuente-oscuro,justify);
    padding: 10px;

}

.cuerpo-acordeon p {
    @include fonts(1.8rem,$font-primaria,$color-fuente-oscuro,justify);
    padding: 10px;
}
