
@mixin imagenes($width,$height,$object) {
    width: $width;
    height: $height;
    object-fit: $object;
}

@mixin fonts($size,$family,$color,$align) {
    font-size: $size;
    font-family: $family;
    color: $color;
    text-align: $align;
}

$vinculo: (
    color-primario : #EB5160,
    color-primario-claro : salmon,
    color-secundario : #b7999c,
    color-secundario-claro : violet,
    color-fuente-oscuro : #071013,
    color-fuente-claro : #dfe0e2,
    color-fondo : #aaaaaa,
);

.link-contenedor {
    gap: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@each $link, $color in $vinculo{
    .link-#{$link} {
        background-color: $color;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        transition: .5s;
        &:hover {
            background-color: darken($color, 20%);
            box-shadow: 4px 4px 4px 0px map-get($vinculo, color-fuente-oscuro);
        }
    }
}
