/* Colores */
$color-primario : #EB5160;
$color-primario-claro : salmon;
$color-secundario : #b7999c;
$color-secundario-claro : violet;
$color-fuente-oscuro : #071013;
$color-fuente-claro : #dfe0e2;
$color-fondo : #aaaaaa;

/* fonts */
$font-primaria: 'Roboto';
$font-secundaria: 'Ubuntu';


$radius-primario : 10%;

