/* Colores */
/* negro: #071013 ; rosa: #EB5160 ; violeta: #b7999c ; silver:  #aaaaaa ; platino: #dfe0e2 ;*/
$color-primario : #EB5160;
$color-primario-claro : salmon;
$color-secundario : #b7999c;
$color-secundario-claro : violet;
$color-fuente-oscuro : #071013;
$color-fuente-claro : #dfe0e2;
$color-fondo : #aaaaaa;

$radius-primario : 10%;

